@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0%;
  padding: 0%; }

/* transform y gradient */
.linearGradient {
  background: linear-gradient(to right, red, orange); }

.linearGradient:hover {
  background: linear-gradient(to right, orange, red);
  cursor: pointer;
  color: grey; }

.fontTitulos {
  text-align: center;
  font-size: 45px; }

.gradientText {
  background-color: #185439;
  padding: 1.5rem; }

.imgCenter {
  width: 75%;
  height: 300px;
  display: flex;
  justify-content: center; }

.backGround {
  background-image: url(../img/background.png); }

.botones {
  padding: 1rem 2rem;
  right: 0;
  position: fixed;
  bottom: 15%;
  background-color: rgba(255, 255, 255, 0.7);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; }
  .botones i {
    font-size: 2rem; }
    .botones i.fa-instagram {
      margin-left: 1rem; }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: 100%; } }

nav {
  padding: 10px; }

nav ul li {
  text-decoration: none; }

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1em; }

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3em; }

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4em; }

.textos {
  color: whitesmoke; }

.h3-uno {
  background-color: green; }

.h3-dos {
  background-color: blue; }

.containerUno {
  width: 50%;
  padding: 10px;
  border: double;
  border-color: brown;
  float: left; }

footer {
  color: rgba(255, 255, 255, 0.55); }
  footer p {
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1em; }
