*{
    margin: 0%;
    padding: 0%;
}

$width: 100%;
$heigth: 400px;

$lang:es;

$bg-dark:#272323;
$bg-info:#a0211d;
$bg-success:#218d1b;

$w-25:25%;
$w-50:50%;
$w-75:75%;
$w-100:100%;

$d-flex:flex;
$d-block:block;

/* transform y gradient */
.linearGradient{
    background: linear-gradient(to right, red, orange);
}
.linearGradient:hover{
    background: linear-gradient(to right, orange, red);
    cursor: pointer;
    color: grey;
}

.fontTitulos{
    text-align: center;
}
.gradientText{
    background-color: #185439;
    padding: 1.5rem;
}
.imgCenter{
    width: 75%;
    height: 300px;
    display: flex;
    justify-content: center;
}

.backGround{
    background-image: url(../img/background.png);
}
.botones{
    padding: 1rem 2rem;
    right: 0;
    position: fixed;
    bottom: 15%;
    background-color: rgba(255,255,255,.70);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    i{
        font-size: 2rem;
        &.fa-instagram{
            margin-left: 1rem;
        }
    }
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: 100%; 
    }
}