*{
    margin: 0%;
    padding: 0%;
}

$width: 100%;
$heigth: 400px;

$lang:es;

$bg-dark:#272323;
$bg-info:#a0211d;
$bg-success:#218d1b;

$w-25:25%;
$w-50:50%;
$w-75:75%;
$w-100:100%;

$d-flex:flex;
$d-block:block;

/* transform y gradient */
.linearGradient{
    background: linear-gradient(to right, red, orange);
}
.linearGradient:hover{
    background: linear-gradient(to right, orange, red);
    cursor: pointer;
    color: grey;
}

.fontTitulos{
    text-align: center;
    font-size: 45px;
}
.gradientText{
    background: linear-gradient(to top, rgba(43, 88, 185, 0.63), rgba(6, 133, 12, 0.808));
}
.imgCenter{
    width: 75%;
    height: 300px;
    display: flex;
    justify-content: center;
}

.backGround{
    background-image: url(../img/background.png);
}