h1{
    font-family: $fontMain;
    font-size: $fontBig;
}
h3{
    font-family: $fontMain;
    font-size: $fontMedium;
}
.textos{
    color:  whitesmoke;
}

.containerUno{
    width: 50%;
    padding: 10px;
    border: double;
    border-color: brown;
    float: left;
}

@media (max-width: 400px){
    .imgPagos{
        width: 400px;
        height: 400px;
    }
}
