h1{
    font-family: $fontMain;
    font-size: $fontBig;
}
h3{
    font-family: $fontMain;
    font-size: $fontMedium;
}
.textos{
    color:  whitesmoke;
}

.containerUno{
    width: 50%;
    padding: 10px;
    border: double;
    border-color: brown;
    float: left;
}

@media (max-width: 992px){
    .imgPagos{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
    }
    .imgNosotros{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
    }
}
